# ===============================
# Python / Django
# ===============================
__pycache__/
*.py[cod]
*.log

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# Django Secrets
# ===============================
.env
.env.*

# ===============================
# Django Static / Media
# ===============================
media/
staticfiles/

# ===============================
# Database
# ===============================
db.sqlite3
*.sql
*.dump

# ===============================
# OS / IDE
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db
